# =========================
# OS files
# =========================
.DS_Store
**/.DS_Store

# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.so

# =========================
# Virtual environments
# =========================
bA/
venv310/
venv/
env/
.venv/
.env

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# ML model checkpoints
# =========================
*.pth
*.pt
*.ckpt
*.onnx

# =========================
# Datasets & archives
# =========================
*.zip
*.pkl
*.pdf
*.jpg
*.jpeg
*.png
*.tar

dataset/
datasets/
data/
papers/
masked_dataset/
PerovSegNet-Dataset/

# =========================
# Experiment outputs
# =========================
runs/
wandb/
tensorboard/

# =========================
# Project-specific large folders
# =========================
semPhase1/dataset/
semPhase1/model_weights/
semPhase1/notebooks/images/
semPhase1/notebooks/pix2pix/
semPhase1/pix2pix/
semPhase2/PerovSegNet-Dataset

# External repositories
semPhase1/NAFNet_github_megvii/
semPhase1/RDUNet_github_gurrola/
semPhase2/masked_dataset/
semPhase2/PerovSegNet-Dataset/
semPhase2/SAMmodel/
semPhase2/label_studio/
semPhase2/papers/
semPhase2/stuff

semPhase2/main_folder/models/LBMS_SAM/SAM/weights
semPhase2/main_folder/models/LBMS_SAM/sam2
semPhase2/main_folder/models/LBMS_SAM/sam2/
semPhase2/main_folder/emps_dataset/
semPhase2/main_folder/models/yolo/YOLO_gitRepo

# Claude
.claude/
CLAUDE.md
get-pip.py
.continue/


## ======================================
## ScratchPads, Notepads, Roughwork    ||
## ======================================
semPhase2/notes.md
